
$font-stack: 'Manrope', sans-serif;
$color-white: #fff;
$color-grey-light: #fafafa;
$color-grey-dark: #333;
$color-grey-hover: #444;
$color-blue: #0d5097;
$color-blue-hover: #0056b3;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    }


@use _header.scss;
@use _main.scss;
@use _footer.scss;
@use _forms.scss;
@use _keyframes.scss;
@use _mixins.scss;


