@mixin transition($property: all, $duration: .3s, $timing: ease) {
    transition: $property $duration $timing;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}